{% load static %}
<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/dab960d22e.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="{% static 'base.css' %}">

        <title>트윗톡</title>
        {% block headscript %} {% endblock %}
    </head>

    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "timeline" %}"><i class="fa-solid fa-comment-sms"></i> 톡</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a id="nav_feed" class="nav-link" href="{% url "feed" %}">피드</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_follow" class="nav-link" href="">팔로우</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_follower" class="nav-link" href="">팔로워</a>
                        </li>
                        <li class="nav-item">
                            <a id="nav_search" class="nav-link" href="{% url "search" %}">검색</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <span class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.nickname }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-sm-end">
                                <li><a class="dropdown-item" href="{% url 'modify' %}">개인정보 변경</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url "logout" %}">로그아웃</a></li>
                            </ul>
                        </span>
                    {% else %}
                        <span class="navbar-text">
                            <a class="nav-link" href="{% url "login" %}">로그인</a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </nav>


        {% block content %} {% endblock %}


        <p></p>
        <footer class="py-3 bg-light mt-auto">
            <p class="text-center text-muted">2022-2 Team Project: 이어진 이상연 송주연</p>
        </footer>
    </body>

    <script type="text/javascript">
        window.addEventListener("load", function () {
            {% if user.is_authenticated %}
                document.getElementById("nav_follow").setAttribute("href", "{% url "follow" username=user.username %}");
                document.getElementById("nav_follower").setAttribute("href", "{% url "follower" username=user.username %}");
            {% else %}
                document.getElementById("nav_feed").classList.add("disabled");
                document.getElementById("nav_follow").classList.add("disabled");
                document.getElementById("nav_follower").classList.add("disabled");
            {% endif %}
        }, false);
    </script>

    {% block otherscript %} {% endblock %}
</html>