{% extends 'layout.html' %}

{% block content %}
    <div class="container-sm mt-4">
        <div id="main_content" class="row row-cols-1 g-4">
            {% if page_author %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="display: inline">{{ page_author.nickname }}</h5>
                            <h6 class="card-subtitle" style="display: inline"><small class="text-muted"><a href="{% url "timeline_user" username=page_author.username %}"> @{{ page_author.username }}</a></small></h6>
                            {% if user.is_authenticated and user != page_author %}
                                <span style="float: right"><a href="" class="follow_button page_author" id="author_button_{{ page_author.id }}">
                                    {% if page_author in user.follow.all %}
                                        <i class="fa-solid fa-heart ms-3 me-1"></i>
                                    {% else %}
                                        <i class="fa-regular fa-heart ms-3 me-1"></i>
                                    {% endif %}
                                </a></span>
                            {% endif %}
                        </div>

            {#            메시지 입력창#}
                        {% if user.is_authenticated and user.id == page_author.id %}
                            <div class="card-body">
                                <form action="{{ request.path }}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                    <div class="btn-group d-none" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="form_type" value="insert_message" id="insert_message" autocomplete="off" checked>
                                        <label class="btn btn-outline-primary" for="insert_message">작성</label>
                                    </div>
                                    <div class="input-group input-group-sm mb-1">
                                        <label class="input-group-text" for="form_image">이미지 파일</label>
                                        <input type="file" class="form-control" name="head_image" id="form_image" accept="image/jpeg, image/png">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text">메시지 입력</span>
                                        <textarea class="form-control" name="content" id="form_message" aria-label="With textarea" style="height: 100px"></textarea>
                                        <button class="btn btn-outline-primary" type="submit">작성</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if message_card_list %}
    {#            메시지 출력#}
                {% for message_card in message_card_list %}
                    <div class="col">
                        <div class="card">
                            {% if message_card.head_image %}
                                <img src="{{ message_card.head_image.url }}" class="card-img-top" alt="message card head image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title" style="display: inline">{{ message_card.author.nickname }}</h5>
                                <h6 class="card-subtitle" style="display: inline"><small class="text-muted"><a href="{% url "timeline_user" username=message_card.author.username %}"> @{{ message_card.author.username }}</a></small></h6>
                                {% if user.is_authenticated and user != message_card.author %}
                                    <span style="float: right"><a href="" class="follow_button" id="follow_button_{{ message_card.id }}">
                                        {% if message_card.author in user.follow.all %}
                                            <i class="fa-solid fa-heart ms-3 me-1"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart ms-3 me-1"></i>
                                        {% endif %}
                                    </a></span>
                                {% elif user.is_authenticated and user == message_card.author %}
                                    <span style="float: right">
                                        <small class="text-muted" style="word-spacing: 15px">
                                                <a href="#collapse{{ message_card.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse{{ message_card.id }}">수정</a>
                                                <a href="#delete{{ message_card.id }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="delete{{ message_card.id }}">삭제</a>
                                        </small>
                                    </span>
                                {% endif %}
                                <p class="card-text"><small class="text-muted">{{ message_card.created_at|date:"Y년 m월 d일 H시 i분" }}</small></p>
                                <p class="card-text">{{ message_card.linked_text|safe|linebreaksbr }}</p>
                                <p class="card-text">
                                    <a href="{% url "timeline_detail" pk=message_card.id %}"><i class="fa-solid fa-comment me-1"></i> {{ message_card.reply_set.count }}</a>
                                    {% if user.is_authenticated and user != message_card.author %}
                                        <a href="" class="like_button" id="like_button_{{ message_card.id }}">
                                            {% if user in message_card.like_user.all %}
                                                <i class="fa-solid fa-heart ms-3 me-1"></i> {{ message_card.like_user.all.count }}
                                            {% else %}
                                                <i class="fa-regular fa-heart ms-3 me-1"></i> {{ message_card.like_user.all.count }}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <i class="fa-regular fa-heart ms-3 me-1"></i> {{ message_card.like_user.all.count }}
                                    {% endif %}
                                    {% if user.is_authenticated and user != message_card.author %}
                                        <a href="" class="forward_button" id="forward_button_{{ message_card.id }}">
                                            {% if user in message_card.forward_user.all %}
                                                <i class="fa-solid fa-share-from-square ms-3 me-1"></i> {{ message_card.forward_user.all.count }}
                                            {% else %}
                                                <i class="fa-regular fa-share-from-square ms-3 me-1"></i> {{ message_card.forward_user.all.count }}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <i class="fa-regular fa-share-from-square ms-3 me-1"></i> {{ message_card.forward_user.all.count }}
                                    {% endif %}
                                </p>
                            </div>

            {#                메시지 수정#}
                            {% if user.is_authenticated and user == message_card.author %}
                                <div class="card-body collapse" id="collapse{{ message_card.id }}">
                                    <form action="{{ request.path }}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                        <div class="btn-group d-none" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="form_type" value="modify_message" id="modify_message_{{ message_card.id }}" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary" for="modify_message_{{ message_card.id }}">작성</label>
                                        </div>
                                        <div class="btn-group d-none" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="form_id" value="{{ message_card.id }}" id="modify_message_target_{{ message_card.id }}" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary" for="modify_message_target_{{ message_card.id }}">작성</label>
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <label class="input-group-text" for="form_image_{{ message_card.id }}">이미지 파일</label>
                                            <input type="file" class="form-control" name="head_image" id="form_image_{{ message_card.id }}" accept="image/jpeg, image/png">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-text">메시지 입력</span>
                                            <textarea class="form-control" name="content" id="form_message_{{ message_card.id }}" aria-label="With textarea" style="height: 100px">{{ message_card.content|safe }}</textarea>
                                            <button class="btn btn-outline-primary" type="submit">수정</button>
                                        </div>
                                    </form>
                                </div>

            {#                메시지 삭제#}
                                <div class="card-body collapse" id="delete{{ message_card.id }}">
                                    <form id="delete_form_{{ message_card.id }}" action="{{ request.path }}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                        <div class="btn-group d-none" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="form_type" value="delete_message" id="delete_message_{{ message_card.id }}" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary" for="delete_message_{{ message_card.id }}">작성</label>
                                        </div>
                                        <div class="btn-group d-none" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="form_id" value="{{ message_card.id }}" id="delete_message_target_{{ message_card.id }}" autocomplete="off" checked>
                                            <label class="btn btn-outline-primary" for="delete_message_target_{{ message_card.id }}">작성</label>
                                        </div>
                                        <div class="alert alert-danger" role="alert">
                                            정말 삭제할까요?
                                            <span style="float: right"><a href="javascript:document.getElementById('delete_form_{{ message_card.id }}').submit();">예</a></span>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <div class="col">
                    <div class="card border-light">
                        <div class="card-body text-center">
                            <small class="text-muted">아직 메시지가 없습니다</small>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        <p id="observer_target"></p>
    </div>
{% endblock %}

{% block otherscript %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(document).on("click", '.follow_button', function () {
            const id = $(this).attr('id')
            let chk, pk;
            if ($(this).hasClass('page_author') === true) {
                chk = "author";
            } else {
                chk = "m";
            }
            pk = id.substring(14);
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'user_follow' %}",
                    data: {
                        'chk': chk,
                        'pk': pk,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    async : false,
                    success: function (response) {
                        let id_text;
                        if (chk === "author") {
                            id_text = "#author_button_" + pk;
                        } else {
                            id_text = "#follow_button_" + pk;
                        }
                        if (response.followed_chk === '1') {
                            $(id_text).html('<i class="fa-solid fa-heart ms-3 me-1"></i>');
                        } else {
                            $(id_text).html('<i class="fa-regular fa-heart ms-3 me-1"></i>');
                        }
                    },
                    error: function (request, status, error) {
                        window.location.redirect("{% url 'login' %}");
                    }
                }
            );
        });

        $(document).on("click", '.like_button', function () {
            const pk = $(this).attr('id').substring(12);
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'card_like' %}",
                    data: {
                        'pk': pk,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    async : false,
                    success: function (response) {
                        if (response.liked_chk === '1') {
                            $("#like_button_" + pk).html('<i class="fa-solid fa-heart ms-3 me-1"></i> ' + response.like_count);
                        } else {
                            $("#like_button_" + pk).html('<i class="fa-regular fa-heart ms-3 me-1"></i> ' + response.like_count);
                        }
                    },
                    error: function (request, status, error) {
                        window.location.redirect("{% url 'login' %}");
                    }
                }
            );
        });

        $(document).on("click", '.forward_button', function () {
            const pk = $(this).attr('id').substring(15);
            $.ajax(
                {
                    type: "POST",
                    url: "{% url 'card_forward' %}",
                    data: {
                        'pk': pk,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataType: "json",
                    async : false,
                    success: function (response) {
                        if (response.forwarded_chk === '1') {
                            $("#forward_button_" + pk).html('<i class="fa-solid fa-share-from-square ms-3 me-1"></i> ' + response.forward_count);
                        } else {
                            $("#forward_button_" + pk).html('<i class="fa-regular fa-share-from-square ms-3 me-1"></i> ' + response.forward_count);
                        }
                    },
                    error: function (request, status, error) {
                        window.location.redirect("{% url 'login' %}");
                    }
                }
            );
        });

        {# 무한스크롤 #}
        const main_list = document.querySelector("#main_content");
        const csrf = document.querySelector("input[name='csrfmiddlewaretoken']");

        const makeSpinner = () => {
            const spinner = document.createElement('div');
            const spinnerSpan = document.createElement('span');
            spinner.classList.add('col');
            spinner.classList.add('align-self-center');
            spinner.classList.add('spinner-border');
            spinner.setAttribute('role', 'status');
            spinnerSpan.classList.add('visually-hidden');
            spinner.appendChild(spinnerSpan);
            return spinner;
        };
        const spinner = makeSpinner();

        const loading_start = () => {
            main_list.appendChild(spinner);
        }
        const loading_finish = () => {
            main_list.removeChild(spinner);
        }

        let page = 1;
        const ioCallback = (entries, io) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    addNewContent();
                }
            });
        };

        function addNewContent() {
            $.ajax({
                type: "POST",
                url: "{% url 'new_content' %}",
                data: {
                    'path': "{{ request.path }}",
                    'data_type': {% if page_author %}"user"{% else %}"tag"{% endif %},
                    'pk': {% if page_author %}"{{ page_author.id }}"{% else %}"{{ page_tag_id }}"{% endif %},
                    'page': page + 1,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: "json",
                async : false,
                success: function (response) {
                    page++;
                    const data_list = response.data_list
                    for (let i = 0; i < data_list.length; i++) {
                        let data = data_list[i]
                        $("#main_content").append(data);
                    }
                    const target_forms = document.getElementsByClassName("new_form_" + page);
                    for (let i = 0; i < target_forms.length; i++) {
                        let target_form = target_forms[i]
                        target_form.appendChild(csrf.cloneNode())
                    }
                },
                error: function (request, status, error) {
                    console.log(`code: ${request.status} \nmessage: ${request.responseText}\nerror: ${error}`)
                    console.dir(request)
                    console.dir(status)
                    console.dir(error)
                    console.log(`request: ${request}`);
                    console.log(`status: ${status}`);
                    console.log(`error: ${error}`);
                },
                beforeSend: function () {
                    loading_start()
                    io.unobserve(sentinel);
                },
                complete: function () {
                    loading_finish()
                    if (parseInt("{{ pages }}") > page) {
                        io.observe(sentinel);
                    }
                }
            });
        }

        const sentinel = document.querySelector("#observer_target");
        const option = {
            root: null, //viewport
            rootMargin: "0px",
            threshold: 1
        };
        const io = new IntersectionObserver(ioCallback, option);
        {% if pages > 1 %}
            io.observe(sentinel);
        {% endif %}
    </script>
{% endblock %}